/**
 * Most of the styles in this file are just for demonstration. By default, 
 * the shims inserted by layro are not visible (that is, they take up space,
 * but they aren't actually doing anything other than that). If you want them
 * to be visible, you can edit the style class "layroShim", below.
 */
 .layroShim {
 }

body {
	padding: 2em 2em;
}

.outer-box {
	border: 1px solid gray;
	padding: 0.5em 0.5em;
	border-radius: 2px 2px 2px 2px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.inner-box {
	background-color: rgb(200, 200, 200);
  text-align: center;
  width: 90%;
  border: 1px solid rgba(20, 20, 20, 0.2);
}

.inner-box-1 {
  height: 40px;
}

.inner-box-2 {
  height: 50px;
}

.inner-box-3 {
  height: 25px;
}

.inner-box-4 {
  height: 75px;
}